<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
    $<%= @total_operations %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%# <%= image_tag(group.icon, alt: group.name) %>
  </p>
</div>
