<section class="flex flex-col mb-auto w-full">
<nav class="flex items-center justify-between bg-customBlue rounded-t-lg h-12 p-3 text-white">
  <a href="<%= groups_path %>">
    <i class="text-lg fa-solid fa-arrow-left"></i>
  </a>
  <h2 class="text-xl font-semibold">New category</h2>
    <i class="text-lg fa-solid fa-magnifying-glass"></i>
</nav>

<%= render "form", group: @group %>
</section>