
<section class="flex flex-col content-center h-[750px] justify-center gap-56">
  <h1 class="text-4xl text-center mt-12 font-semibold">UnityWallet</h1>
  
  <%# <p>Get started by signing in or logging in:</p> %>
  <div class="flex flex-col ">
  <%= link_to "Log In", new_user_session_path,class:"text-white bg-customBlue focus:ring-4 focus:outline-none  font-medium rounded-sm text-lg px-32 py-3.5 text-center" %>
  <%= link_to "Sign Up", new_user_registration_path, class:"text-neutral-500 hover:bg-customBlue hover:text-white focus:ring-4 focus:outline-none  font-medium rounded-sm text-lg px-32 py-2.5 text-center mt-1 h-[55px]" %>
  </div>
</section>
