<section class="flex flex-col mb-auto w-full content-center  justify-center ">
  <nav class="flex items-center justify-between bg-customBlue rounded-t-lg h-12 p-3 text-white">
    <a href="<%= group_operations_path(@group) %>">
      <i class="text-lg fa-solid fa-arrow-left"></i>
    </a>
    <h2 class="text-xl font-semibold">New transaction</h2>
      <i class="text-lg fa-solid fa-magnifying-glass"></i>
  </nav>

<%= render "form", operation: @operation %>

<br>
</section>